# Virtual environment
.venv_api
.venv_fournisseur/
.venv_stock/
.venv_rh/

# Compiled Python files
*.pyc
__pycache__/

# Editor/IDE specific files
.vscode/
.idea/

# Dependency management files
Pipfile.lock

# Configuration files (adjust as necessary)
config.py